# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 66e1cb76e6f5a71fac5d62bc9d7078950dc3023814ed06e700471de0de92602d0e9cbc61477bd428076c36f5aeb60b2458f849ffa7cebe3d4ff4296c9cb7bf10

test:
  secret_key_base: 040f92d7276445de80133d2990f24ee4ee5da0850e8313edbeca5d8f8ac420493d1f427b5912f7b5c3f2ba891aa923cc416f51151d64e000f5bccc4ad34582d2

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_token: <%= ENV["SECRET_TOKEN"] %>

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_token: <%= ENV["SECRET_TOKEN"] %>
